<div class="goods">
	<div class="wrapper">
		<div class="goods__bar">
			<a href="#">Главная страница</a> / 
			<a href="#">Каталог светильников для ЖКХ</a>
		</div>

		<div class="goods__title">
			<h4>Освещение для ЖКХ</h4>
			<p>Светодиодные светильники для ЖКХ имеют высокую степень защиты оптической части IP64 для долгой и стабильной работы без запыления плафона изнутри. Позволяет разумно использовать электроэнергию в комплексе со звуковым датчиком включения. </p>
		</div>

		<div class="goods__content">
			<div class="goods__content-filters">
				<div class="sort">
					<p>Сортировка</p>

					<div class="sort-select">
						<select name="sort" id="sort">
							<optgroup label="По цене">
								<option value="1">От меньшей к большей</option>
								<option value="2">От большей к меньшей</option>
							</optgroup>
							<optgroup label="По популярности">
								<option value="3">От меньшей к большей</option>
								<option value="4">От большей к меньшей</option>
							</optgroup>
							<optgroup label="По мощности">
								<option value="5">От меньшей к большей</option>
								<option value="6">От большей к меньшей</option>
							</optgroup>
							

						</select>
					</div>
				</div>

				<div class="variants">
					<nav>
						<a href="#">Уличное освещение</a>
						<a href="#">Промышленное освещение</a>
						<a href="#">Торговое освещение</a>
						<a href="#">Офисно-административное</a>
						<a href="#">Архитектурное освещение</a>
						<a href="#" class="active">Освещение для ЖКХ</a>
						<a href="#">светодиодные драйверы</a>
						<a href="#">Светодиодные модули</a>
					</nav>
				</div>

				<div class="params">
					<div class="params-power">
						<p>Мощность, Вт</p>
						<input type="text" class="power-slider" name="my_range" value="" />
					</div>

					<div class="params-light">
						<p>Световой поток, Лм</p>
						<input type="text" class="light-slider" name="my_range" value="" />
					</div>

					<div class="params-def">
						<p>Степень защиты</p>

						<div class="params-def-select">
							<span class="active">IP20</span>
							<span class="active">IP40</span>
							<span class="active">IP54</span>
							<span>IP65</span>
							<span>IP66</span>
							<span>IP80</span>
						</div>
					</div>

					<div class="params-mount">
						<p>Крепление</p>

						<div class="params-mount-select">
							<span class="selected">Накладное</span>
							<span>Консольное</span>
						</div>
					</div>
				</div>

				<div class="clear">
					<div class="clear-filters">
						{{Icon iconName="clear"}}
						Сбросить фильтры
					</div>
				</div>
			</div>
			<div class="goods__content-items">

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник RSL-Housing-10W-IP65</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1200 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP40
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник RSL-Housing-25W-IP65</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							25 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							3000 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/2.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник RSL-Housing-18W-IP65</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							120 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP40
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/3.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник RSL-Housing-9W-IP65</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							9 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1080 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/4.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Накладной светодиодный светильник Авантаж ЖКХ 8</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							8 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							640 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/5.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник Авантаж ЖКХ 8М овал</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							4000 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/4.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник Авантаж ЖКХ 12МД</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							12 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							960 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник RSL-Housing-18W-IP66 </a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							18 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							2160 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP66
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник Авантаж ЖКХ 12М</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							12 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1200 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник Авантаж ЖКХ 12М</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							8 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							4000 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник Авантаж ЖКХ 12М овал</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							4000 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP65
						</span>
					</div>
				</div>

				<div class="goods__content-item">
					<div class="goods__content-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="goods__content-title">
						<a href="#">Светодиодный светильник RSL-Housing-10W-IP65</a>
					</div>

					<div class="goods__content-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1200 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP40
						</span>
					</div>
				</div>


			</div>

		</div>

		<div class="goods-nav">
			<a href="#" class="back">
				{{Icon iconName="back"}}
				Назад
			</a>

			<a href="#" class="page-link active">1</a>
			<a href="#" class="page-link">2</a>
			<a href="#" class="page-link">3</a>
			<a href="#" class="page-link">4</a>
			<a href="#" class="page-link">5</a>
			<a href="#" class="page-link">6</a>
			<a href="#" class="page-link">7</a>

			<a href="#" class="forward">Вперед
				{{Icon iconName="forward"}}
			</a>
		</div>

	</div>
</div>