<div class="products">
	<div class="wrapper">
		<div class="products__items">
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/1.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Уличное <br> освещение</span>
				</div>
			</div>
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/2.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Промышленное <br> освещение</span>
				</div>
			</div>
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/3.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Торговое <br> освещение</span>
				</div>
			</div>
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/4.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Офисно-административное <br> освещение</span>
				</div>
			</div>
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/5.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Архитектурное <br> освещение</span>
				</div>
			</div>
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/6.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Освещение <br> для ЖКХ</span>
				</div>
			</div>
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/7.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Светодиодные <br> драйверы</span>
				</div>
			</div>
			<div class="products-item">
				<div class="products-item-image">
					<img src="%=static=%img/general/product/8.png" alt="">
				</div>
				<div class="products-item-name">
					<span>Светодиодные <br> модули</span>
				</div>
			</div>
		</div>
	</div>
</div>