<footer class="footer">
	<div class="wrapper">
		<div class="footer__items">
			<div class="footer-item">
				<div class="footer-item-copy">
					<h4>2020 © ООО «РУСАЛОКС».</h4>
					<p>Все права защищены.</p>
				</div>
				<div class="footer-item-contacts">
					<div class="contacts-row">
						<p>Москва:</p>
						<a href="tel:+74995570065">+7 (499) 557 00 65</a>
					</div>
					<div class="contacts-row">
						<p>Владимир:</p>
						<a href="tel:+74922430099">+7 (4922) 43 00 99</a>
					</div>
					<div class="contacts-row">
						<p>Email:</p>
						<a href="mailto:info@rusalox.ru" class="mail">info@rusalox.ru</a>
					</div>
				</div>
				<div class="footer-item-social">
					<a href="#">
						{{Icon iconName="facebook"}}
					</a>
					<a href="#">
						{{Icon iconName="twitter"}}
					</a>
					<a href="#">
						{{Icon iconName="linkedin"}}
					</a>
					<a href="#">
						{{Icon iconName="youtube"}}
					</a>
				</div>
			</div>
			<div class="footer-item">
				<div class="footer-item-about">
					<a href="#" class="white">О компании</a>
					<a href="#">Общая информация</a>
					<a href="#">Производство</a>
					<a href="#">Команда</a>
					<a href="#">Сертификаты</a>
					<a href="#">Партнеры</a>
					<a href="#">Новости</a>
				</div>
				<div class="footer-item-tech">
					<a href="#" class="white">Технологии</a>
					<a href="#">Алюмооксидная технология</a>
				</div>
				<div class="footer-item-cont">
					<a href="#" class="white">Контакты</a>
				</div>
			</div>
			<div class="footer-item">
				<div class="footer-item-products">
					<a href="#" class="white">Продукция</a>
					<a href="#">Уличное освещение</a>
					<a href="#">Офисно-административное</a>
					<a href="#">Освещение для ЖКХ</a>
					<a href="#">Торговое освещение</a>
					<a href="#">Промышленное освещение</a>
					<a href="#">Архитектурное освещение</a>
					<a href="#">Драйверы</a>
					<a href="#">Светодиодные модули</a>
				</div>
			</div>
			<div class="footer-item">
				<div class="footer-item-service">
					<a href="#" class="white">Услуги</a>
					<a href="#">Разработка и производство светодиодных светильников</a>
					<a href="#">Светодиодные модули на заказ</a>
					<a href="#">Разработка и производство драйверов</a>
					<a href="#">Печатные платы на заказ</a>
					<a href="#">Светотехнический расчет</a>
					<a href="#">Вакуумное напылени</a>
				</div>
			</div>
		</div>
	</div>
</footer>