.news {
	padding: 135px 0;
	background: url('%=static=%general/news-bg.png') no-repeat center top / cover;
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		position: relative;
		.slider__btns {
			display: flex;
			align-items: center;
			height: 34px;
		}
		h3 {
			@extend %rl;
			color: #ffffff;
			font-size: 35px;
			line-height: 36px;
		}
		a {
			display: block;
			@extend %rr;
			color: #ffffff;
			font-size: 16px;
			line-height: 18px;
		}
	}

	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-button-prev {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 0;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		border: 1px solid #fff;
		outline: none;
		&::after {
			font-size: 14px;
			color: #fff;
		}
	}
	.swiper-button-next {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 0;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-left: 14px;
		outline: none;
		&::after {
			font-size: 14px;
			color: #fff;
		}
	}

	&__slider {
		margin-top: 70px;

		&-item {
			padding: 50px;
			background-color: #ffffff;
			max-width: 370px;
			border-radius: 15px;
			.date {
				display: flex;
				align-items: center;
				span {
					display: block;
					@extend %rr;
					margin-left: 6px;
					color: #9ba3b0;
					font-size: 14px;
					line-height: 23px;
				}
			}
			.name {
				margin-top: 34px;
				a {
					display: block;
					@extend %rr;
					color: #0587d1;
					font-size: 20px;
					line-height: 26px;
				}
			}
			.description {
				margin-top: 27px;
				p {
					color: #1f2833;
					@extend %rr;
					font-size: 14px;
					line-height: 23px;
				}
			}
		}
	}
}