<div class="news">
	<div class="wrapper">
		<div class="news__title">
			<div class="slider__btns">
				<div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div>
			</div>

			<h3>Новости компании</h3>
			<a href="#">Архив новостей
				{{Icon iconName="rounded"}}
			</a>
		</div>

		<div class="news__container swiper-container">
			<div class="news__slider swiper-wrapper">
				<div class="swiper-slide news__slider-item">
					<div class="date">
						{{Icon iconName="date"}}
						<span>09.09.2020</span>
					</div>
					<div class="name">
						<a href="#">РУСАЛОКС на Guangzhou International Lighting Exhibition 2017</a>
					</div>
					<div class="description">
						<p>Команда РУСАЛОКС уже в третий раз приняла участие в выставке Guangzhou International Lighting Exhibition в Китае... </p>
					</div>
				</div>

				<div class="swiper-slide news__slider-item">
					<div class="date">
						{{Icon iconName="date"}}
						<span>07.09.2020</span>
					</div>
					<div class="name">
						<a href="#">Как Владимир Владимирович помог РУСАЛОКС в переговорах с ОСРАМ</a>
					</div>
					<div class="description">
						<p>Команда РУСАЛОКС посетила завод немецкого ведущего мирового производителя светодиодов ОСРАМ в Регенсбурге, Германия. Начало встречи прошло в лучших традициях делового этикета...</p>
					</div>
				</div>

				<div class="swiper-slide news__slider-item">
					<div class="date">
						{{Icon iconName="date"}}
						<span>03.08.2020</span>
					</div>
					<div class="name">
						<a href="#">РУСАЛОКС запустил производство подложек под филаменты</a>
					</div>
					<div class="description">
						<p>На сегодняшний день большинство нитевидных светодиодов представляют собой сапфировую подложку, на которой размещены светодиодные кристаллы, покрытые общим люминофором.</p>
					</div>
				</div>

			</div>


		</div>
	</div>
</div>