<header class="header">
	<div class="header__logo">
		<img src="%=static=%img/general/logo.png" alt="">
	</div>

	<div class="header__lang">
		<span class="active">рус</span>
		<span>eng</span>
		<!-- .active для стилизации -->
	</div>

	<div class="header__nav">
		<nav>
			<ul>
				<li>
					<a href="#" title="О компании">О компании</a>
				</li>
				<li>
					<a href="#" title="Продукция">Продукция</a>
				</li>
				<li>
					<a href="#" title="Услуги">Услуги</a>
				</li>
				<li>
					<a href="#" title="Технологии">Технологии</a>
				</li>
				<li>
					<a href="#" title="Контакты">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="header__call">
		<a href="tel:+74995570065" title="Позвонить" class="header__phone">+7 (499) 557 00 65</a>
		<a href="mailto:info@rusalox.ru" title="Написать" class="header__mail">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 19 15">
				<g>
					<g>
						<image width="19" height="15" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAYAAAAGRPQsAAACNUlEQVQ4T63UTUiUQRgH8Gd2V0k3tS/FItAKgvISqEkGkbFaKrUIJpFFhw5B4J6ie9BJ7BTVxcAORpiVEKS2KpqQBLl2sUNFIoESKmyWuu++8/z/8RpGxYoGzmmYZ+Y3X8+MERGp7nMOWpFmIY9DEaRSaCFQCCxS1unFFAuiHKSa62PXCt6b2iHngIVvhEAOwWXgP7BffRXzRvSIOTXkPiWkjsCjpM9pGqzInvVWu55S3DK1A4HkbVqcI9jlYfOEZDkSyA3Y5E5DJqJVmz6uhZXendwL9QXF8U+rJGZI/vAwEiK9FWmmMpr4AEWuuFLTfzpzZDWw5N6Xw6LSDSIeayrYd6jlM70j+gsLRZ0GqrbTMiFAeOBM1sC/YGnr1DGxfE5FEKqXYpHC9pSYNzDUsxCGSgctVF3Uv6rPebEClrV9rRIXz6AIALwwenX3Yy+2KiakOdG9+IQu6qBIwrJxuGFLZ/mD2TCg3iTpUAwvbouHxhuKkqtixW+ZtnV26T6UF2nxCYo8WARp0QrFZSgStBiHRRkV3Qz460ev7FpMubLKvkQHLM5S+cY4WqvAHgV7aLEdijhd1Eo8OaaZ/k6o1kC1JxYprE6NRRO9UCz5TUbjy5NmwdvC0c65IpM0N0F743Vj3juvrahjPD1jJrsNiv2xSEHJn9h3QjZ7eTZYYdadsCuXUto8ke/6OL2SZ12EhAk8VDqR/lD23FoJ+xu6M5FvXXOLFueXX8AGvc1vRrTcbOSv8ROy41dj/3F2SwAAAABJRU5ErkJggg=="/>
					</g>
				</g>
			</svg>
			info@rusalox.ru
		</a>
	</div>

	<div class="header__search">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25">
			<g><g>
				<path fill="#555" d="M23.704 24.704c-.4.4-1.05.4-1.45 0l-4.792-4.816A10.936 10.936 0 0 1 11 22C4.925 22 0 17.075 0 11S4.925 0 11 0s11 4.925 11 11c0 2.929-1.152 5.583-3.018 7.554l4.722 4.7c.4.4.4 1.05 0 1.45zM20 11a9 9 0 0 0-9-9 9 9 0 1 0 0 18 9 9 0 0 0 9-9z"/>
				<path fill="#444f5c" d="M23.704 24.704c-.4.4-1.05.4-1.45 0l-4.792-4.816A10.936 10.936 0 0 1 11 22C4.925 22 0 17.075 0 11S4.925 0 11 0s11 4.925 11 11c0 2.929-1.152 5.583-3.018 7.554l4.722 4.7c.4.4.4 1.05 0 1.45zM20 11a9 9 0 0 0-9-9 9 9 0 1 0 0 18 9 9 0 0 0 9-9z"/>
			</g></g>
		</svg>
	</div>

	<div class="header__cart">
		<div class="header__cart-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="37" viewBox="0 0 30 37"><g><g><path d="M24 37H6c-3.309 0-6-2.692-6-6V6C0 2.69 2.691 0 6 0h11a1 1 0 1 1 0 2H6C3.794 2 2 3.794 2 6v25c0 2.205 1.794 4 4 4h18c2.206 0 4-1.795 4-4V14a1 1 0 1 1 2 0v17c0 3.308-2.691 6-6 6zm-4-13h-8a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2zM6 14h7a1 1 0 1 1 0 2H6a1 1 0 1 1 0-2zm0 3h11a1 1 0 1 1 0 2H6a1 1 0 1 1 0-2zm0 5h3a1 1 0 0 1 0 2H6a1 1 0 0 1 0-2zm0 7h4a1 1 0 0 1 0 2H6a1 1 0 0 1 0-2zm0-4h10a1 1 0 0 1 0 2H6a1 1 0 0 1 0-2zM6 8a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm10 2a1 1 0 0 1-1 1H6a1 1 0 1 1 0-2h9a1 1 0 0 1 1 1zm4 6h-4a1 1 0 1 1 0-2h4a1 1 0 1 1 0 2z"/></g></g></svg>

			<div class="circle" id="value"></div>
		</div>
	</div>
</header>

<div class="header__search-hidden">
	<div class="input-search">
		{{Icon iconName="search1"}}
		<input type="text" placeholder="Поиск по сайту, например: “Светодиодный светильник для ЖКХ” ">
	</div>
</div>

<div class="header__cart-hidden">
	<div class="header__cart-items">
		<div class="header__cart-item">
			<img src="%=static=%img/general/cart-item.png" alt="Товар">
			<h4>Светодиодный светильник RSL-Housing-10W-IP65</h4>

			{{Icon iconName="cart-basket"}}
		</div>
		<div class="header__cart-item">
			<img src="%=static=%img/general/cart-item2.png" alt="Товар">
			<h4>Светодиодный светильник RSL-Housing-10W-IP65</h4>

			{{Icon iconName="cart-basket"}}
		</div>
		<div class="header__cart-item">
			<img src="%=static=%img/general/cart-item3.png" alt="Товар">
			<h4>Светодиодный светильник RSL-Housing-10W-IP65</h4>

			{{Icon iconName="cart-basket"}}
		</div>

		<div class="header__cart-btn">
			<button>Оформить запрос</button>
		</div>
	</div>
</div>