<div class="tovar">
	<div class="wrapper">
		<div class="tovar__bar">
			<a href="#">Главная страница</a> / 
			<a href="#">Каталог светильников для ЖКХ</a> / 
			<a href="#">RSL-Housing-10W-IP65</a>
		</div>

		<div class="tovar__info">

			<div class="tovar__info-images fotorama">
				<img src="%=static=%img/general/tovar.png" alt="">
				<img src="%=static=%img/general/tovar.png" alt="">
				<img src="%=static=%img/general/tovar.png" alt="">
				<img src="%=static=%img/general/tovar.png" alt="">
				<img src="%=static=%img/general/tovar.png" alt="">
				<img src="%=static=%img/general/tovar.png" alt="">
				<img src="%=static=%img/general/tovar.png" alt="">
				<img src="%=static=%img/general/tovar.png" alt="">
			</div>

			<div class="tovar__info-params">

				<div class="tovar__info-name">
					<h4>Накладной светодиодный cветильник RSL-Housing-10W-IP65</h4>
				</div>
				<div class="tovar__info-article">
					<span>Артикул: RSL-Housing-18W-IP66</span>
				</div>

				<div class="tovar__info-value">
					<div class="value">
						<p>Мощность</p>
						<span>60 Вт</span>
					</div>
					<div class="value">
						<p>Световой поток</p>
						<span>8100 Лм</span>
					</div>
					<div class="value">
						<p>Напряжение</p>
						<span>90 - 305 В</span>
					</div>
					<div class="value">
						<p>Степень защиты</p>
						<span>IP66</span>
					</div>
					<div class="value">
						<p>Цветовая температура</p>
						<span>5000К</span>
					</div>
					<div class="value">
						<p>Габариты</p>
						<span>518 х 238 х 118 мм</span>
					</div>
					<div class="value">
						<p>Тип крепления</p>
						<span>Настенный</span>
					</div>
					<div class="value">
						<p>Вес</p>
						<span>3.7 кг</span>
					</div>
					<div class="value">
						<p>Срок службы</p>
						<span>100000 часов</span>
					</div>
					<div class="value">
						<p>Гарантия</p>
						<span>5 лет</span>
					</div>
				</div>

				<div class="tovar__info-btns">
					<a href="#" class="add">
						{{Icon iconName="add"}}
						Добавить к запросам
					</a>
					<a href="#" class="download">
						{{Icon iconName="download"}}
						Скачать паспорт изделия
					</a>
				</div>

			</div>
		</div>

		<div class="tovar__tabs">
			<ul class="tabs__caption">
				<li>Описание и сфера применения</li>
				<li class="active">Чертежи и IES файлы</li>
				<li>Технические характеристики</li>
				<li>Дополнительные опции</li>
			</ul>

			<div class="tabs__content">
				Содержимое первого блока
			</div>

			<div class="tabs__content active">
				<h4>Габаритные чертежи</h4>

				<div class="files">

					<div class="file">
						<div class="file__image">
							{{Icon iconName="file"}}
						</div>
						<div class="file__desc">
							<div class="file__desc-name">
								<p>Светодиодный RSL-Housing-10W-IP65 светильник крепление скоба</p>
							</div>
							<div class="file__desc-info">
								<div class="file-params">Файл 
									<span class="file-format">pdf</span>, 
									<span class="file-size">308 Кб</span>
								</div> / 
								<a href="#">Скачать файл</a>
							</div>
						</div>
					</div>

					<div class="file">
						<div class="file__image">
							{{Icon iconName="file"}}
						</div>
						<div class="file__desc">
							<div class="file__desc-name">
								<p>Светодиодный светильник RSL-Housing-10W-IP65 крепление консольное</p>
							</div>
							<div class="file__desc-info">
								<div class="file-params">Файл 
									<span class="file-format">pdf</span>, 
									<span class="file-size">308 Кб</span>
								</div> / 
								<a href="#">Скачать файл</a>
							</div>
						</div>
					</div>

					<div class="file">
						<div class="file__image">
							{{Icon iconName="file"}}
						</div>
						<div class="file__desc">
							<div class="file__desc-name">
								<p>Светодиодный RSL-Housing-10W-IP65 светильник крепление трос</p>
							</div>
							<div class="file__desc-info">
								<div class="file-params">Файл 
									<span class="file-format">pdf</span>, 
									<span class="file-size">308 Кб</span>
								</div> / 
								<a href="#">Скачать файл</a>
							</div>
						</div>
					</div>

					<div class="file">
						<div class="file__image">
							{{Icon iconName="file"}}
						</div>
						<div class="file__desc">
							<div class="file__desc-name">
								<p>Светодиодный светильник RSL-Housing-10W-IP65 крепление торшерное</p>
							</div>
							<div class="file__desc-info">
								<div class="file-params">Файл 
									<span class="file-format">pdf</span>, 
									<span class="file-size">308 Кб</span>
								</div> / 
								<a href="#">Скачать файл</a>
							</div>
						</div>
					</div>

				</div>
				<!-- .files -->

				<h4>IES Файлы</h4>

				<div class="files">

					<div class="file">
						<div class="file__image">
							{{Icon iconName="file"}}
						</div>
						<div class="file__desc">
							<div class="file__desc-name">
								<p>RSL-Housing-10W-IP65 IES</p>
							</div>
							<div class="file__desc-info">
								<div class="file-params">Файл 
									<span class="file-format">pdf</span>, 
									<span class="file-size">308 Кб</span>
								</div> / 
								<a href="#">Скачать файл</a>
							</div>
						</div>
					</div>

				</div>
				<!-- .files -->

			</div>

			<div class="tabs__content">
				Содержимое третьего блока
			</div>

			<div class="tabs__content">
				Содержимое четвертого блока
			</div>
		</div>


	</div>
</div>