<div class="similar">
	<div class="wrapper">
		<div class="similar__title">
			<h3>Похожие светильники</h3>
		</div>

		<div class="similar-container swiper-container">
			<div class="similar__slider swiper-wrapper">

				<div class="swiper-slide similar__slider-item">
					<div class="similar__slider-image">
						<img src="%=static=%img/general/goods/3.png" alt="Продукция">
					</div>
					<div class="similar__slider-title">
						<a href="#">Светодиодный светильник RSL-Housing-10W-IP65</a>
					</div>

					<div class="similar__slider-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1200 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP40
						</span>
					</div>
				</div>

				<div class="swiper-slide similar__slider-item">
					<div class="similar__slider-image">
						<img src="%=static=%img/general/goods/1.png" alt="Продукция">
					</div>
					<div class="similar__slider-title">
						<a href="#">Светодиодный светильник RSL-Housing-10W-IP65</a>
					</div>

					<div class="similar__slider-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1200 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP40
						</span>
					</div>
				</div>

				<div class="swiper-slide similar__slider-item">
					<div class="similar__slider-image">
						<img src="%=static=%img/general/goods/5.png" alt="Продукция">
					</div>
					<div class="similar__slider-title">
						<a href="#">Светодиодный светильник RSL-Housing-10W-IP65</a>
					</div>

					<div class="similar__slider-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1200 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP40
						</span>
					</div>
				</div>

				<div class="swiper-slide similar__slider-item">
					<div class="similar__slider-image">
						<img src="%=static=%img/general/goods/6.png" alt="Продукция">
					</div>
					<div class="similar__slider-title">
						<a href="#">Светодиодный светильник RSL-Housing-10W-IP65</a>
					</div>

					<div class="similar__slider-desc">
						<span>
							{{Icon iconName="light"}}
							10 Вт
						</span>
						<span>
							{{Icon iconName="sun"}}
							1200 Лм
						</span>
						<span>
							{{Icon iconName="shield"}}
							IP40
						</span>
					</div>
				</div>

			</div>

			 <div class="similar-pagination"></div>

		</div>
	</div>
</div>