<main class="main">
	<div class="wrapper">
		<div class="main__slider">
			<div class="main__slider-item">
				<h1>Разработка и производство светодиодных светильников</h1>
				<span class="line"></span>
				<p>ООО «РУСАЛОКС» предлагает компаниям-производителям осветительного оборудования разработку светодиодных светильников для самостоятельной сборки, а также услуги проектирования и модернизации систем освещения.</p>
				<a href="#" title="Подробнее" class="more">Подробнее
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 12"><g><g><path d="M1.707 1.05L5.95 5.292a1 1 0 0 1 0 1.414L1.708 10.95A1 1 0 1 1 .293 9.535L3.828 6 .293 2.464A1 1 0 0 1 1.707 1.05z"/></g></g></svg>
				</a>
			</div>
			<div class="main__slider-item">
				
			</div>
			<div class="main__slider-item">
				
			</div>
		</div>
	</div>
</main>