<div class="partners tovar__tabs">
	<div class="partners__header">
		<div class="wrapper">
			<div class="team__bar">
				<div class="team__bar-links">
					<a href="#">Главная страница</a> / 
					<a href="#">Наша команда</a>
				</div>
				<div class="team__bar-back">
					<a href="#">
						{{Icon iconName="backto"}}
						Вернуться назад
					</a>
				</div>
			</div>
			<h1 class="title-d">
				Наши партнеры
			</h1>
			<ul class="tabs__caption">
				<li class="active">Все партнеры</li>
				<li>Производители освещения</li>
				<li>Дистрибьюторы</li>
				<li>LED производители</li>
				<li>Производители оптики</li>
				<li>Научно-исследовательские институты и лаборатории</li>
				<li>Профессиональные сообщества и LED программы</li>
			</ul>
		</div>
	</div>
	<div class="partners__body">
		<div class="wrapper">
			<div class="tabs__content active">
				<div class="partners__container">
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
					<a href="#" class="partners__item">
						<div class="partners__img">
							<img src="static/img/general/partners/partner.jpg" alt="">
						</div>
						<div class="partners__title">
							АО «РОСНАНО»
						</div>
						<div class="partners__url">
							www.sitename.com
						</div>
					</a>
				</div>
				<div class="goods-nav">
					<a href="#" class="back">
						
					<svg class="icon__back" width="8px" height="13px">
						<use xlink:href="#back"></use>
					</svg>
				
						Назад
					</a>
		
					<a href="#" class="page-link active">1</a>
					<a href="#" class="page-link">2</a>
					<a href="#" class="page-link">3</a>
					<a href="#" class="page-link">4</a>
					<a href="#" class="page-link">5</a>
					<a href="#" class="page-link">6</a>
					<a href="#" class="page-link">7</a>
		
					<a href="#" class="forward">Вперед
						
					<svg class="icon__forward" width="8px" height="13px">
						<use xlink:href="#forward"></use>
					</svg>
				
					</a>
				</div>
			</div>
			<div class="tabs__content">
				Содержимое 2 блока
			</div>
			<div class="tabs__content">
				Содержимое 3 блока
			</div>
			<div class="tabs__content">
				Содержимое 4 блока
			</div>
			<div class="tabs__content">
				Содержимое 5 блока
			</div>
			<div class="tabs__content">
				Содержимое 6 блока
			</div>
			<div class="tabs__content">
				Содержимое 7 блока
			</div>
		</div>
	</div>
</div>