<div class="team">
	<div class="wrapper">
		<div class="team__bar">
			<div class="team__bar-links">
				<a href="#">Главная страница</a> / 
				<a href="#">Наша команда</a>
			</div>
			<div class="team__bar-back">
				<a href="#">
					{{Icon iconName="backto"}}
					Вернуться назад
				</a>
			</div>
		</div>

		<div class="team__title">
			<h3>Наша команда</h3>
		</div>

		<div class="team__photos">
			<div class="team__photo">
				<div class="team__photo-img">
					<img src=".%=static=%img/general/team/team-1.png" alt="Команда">
				</div>
				<div class="team__photo-info">
					<h4>Беспрозванный Ефим Давыдович</h4>
					<p>Генеральный директор</p>
				</div>
			</div>
			<div class="team__photo">
				<div class="team__photo-img">
					<img src=".%=static=%img/general/team/team-2.png" alt="Команда">
				</div>
				<div class="team__photo-info">
					<h4>Токарева Ольга Анатольевна</h4>
					<p>Заместитель директора по международным проектам и развитию</p>
				</div>
			</div>
			<div class="team__photo">
				<div class="team__photo-img">
					<img src=".%=static=%img/general/team/team-3.png" alt="Команда">
				</div>
				<div class="team__photo-info">
					<h4>Баландин Алексей Олегович</h4>
					<p>Директор производственного комплекса</p>
				</div>
			</div>
			<div class="team__photo">
				<div class="team__photo-img">
					<img src=".%=static=%img/general/team/team-4.png" alt="Команда">
				</div>
				<div class="team__photo-info">
					<h4>Жигачев Василий Андреевич</h4>
					<p>Директор производственного комплекса</p>
				</div>
			</div>
			<div class="team__photo">
				<div class="team__photo-img">
					<img src=".%=static=%img/general/team/team-5.png" alt="Команда">
				</div>
				<div class="team__photo-info">
					<h4>Баландина Светлана Андреевна</h4>
					<p>Заместитель директора производственного комплекса</p>
				</div>
			</div>
			<div class="team__photo">
				<div class="team__photo-img">
					<img src=".%=static=%img/general/team/team-6.png" alt="Команда">
				</div>
				<div class="team__photo-info">
					<h4>Осин Алексей Викторович</h4>
					<p>Главный конструктор</p>
				</div>
			</div>
			<div class="team__photo">
				<div class="team__photo-img">
					<img src=".%=static=%img/general/team/team-7.png" alt="Команда">
				</div>
				<div class="team__photo-info">
					<h4>Алясова Екатерина Евгеньевна</h4>
					<p>Зам. генерального директора по НТР</p>
				</div>
			</div>
		</div>
	</div>
</div>